Student: Satish Byrow

#**1. Goal**
- Clean the files and combine them into one final DataFrame.
- Use your combined DataFrame to answer the following questions.
    
Compare the average weight of super powers who have Super Speed to those who do not    .
What is the average height of heroes for each publisher?

#**2. Import and Loading**

## Load Libraries & Functions

In [11]:
#Load Libraries
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

## Load Data

In [2]:
# Open saved file and preview again
Superhinfo = pd.read_csv("Data/superhero_info.csv", low_memory = False)
Superhinfo.info()
#Make a copy
df = Superhinfo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [3]:
# Open saved file and preview again
Superhpowers = pd.read_csv("Data/superhero_powers.csv", low_memory = False)
Superhpowers.info()
#Make a copy
df1 = Superhpowers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

## Clean the Data

In [4]:
#Duplicate count
## Display the number of duplicate rows in the dataset
print(f'There are {df.duplicated().sum()} duplicate rows.')

There are 0 duplicate rows.

In [5]:
#Duplicate count
## Display the number of duplicate rows in the dataset
print(f'There are {df1.duplicated().sum()} duplicate rows.')

There are 0 duplicate rows.

In [6]:
# Display the total number of missing values
print(f'There are {df.isna().sum().sum()} missing values.')

There are 0 missing values.

In [7]:
# Display the total number of missing values
print(f'There are {df1.isna().sum().sum()} missing values.')

There are 0 missing values.

In [8]:
#Check for categorical descrepencies
for col in df.select_dtypes(include='object').columns:
  print(df[col].value_counts())

Spider-Man|Marvel Comics       3
Black Canary|DC Comics         2
Nova|Marvel Comics             2
Toxin|Marvel Comics            2
Batman|DC Comics               2
                              ..
Fabian Cortez|Marvel Comics    1
Exodus|Marvel Comics           1
Evilhawk|Marvel Comics         1
Evil Deadpool|Marvel Comics    1
Zoom|DC Comics                 1
Name: Hero|Publisher, Length: 457, dtype: int64
Male       321
Female     134
Unknown      8
Name: Gender, dtype: int64
Human                156
Unknown              145
Mutant                51
Human / Radiation     11
Android                7
Symbiote               7
Alien                  6
Demon                  6
Cyborg                 6
Kryptonian             5
Atlantean              5
Asgardian              5
Inhuman                4
New God                3
Human-Kree             2
Eternal                2
Demi-God               2
Saiyan                 2
Amazon                 2
Human / Altered        2
Metahuman              2
God / Eternal          2
Human-Vulcan           1
Martian                1
Zombie                 1
Korugaran              1
Talokite               1
Clone                  1
Human-Spartoi          1
Animal                 1
Yautja                 1
Human / Cosmic         1
Tamaranean             1
Mutant / Clone         1
Luphomoid              1
Frost Giant            1
Strontian              1
Czarnian               1
Bolovaxian             1
Human-Vuldarian        1
Flora Colossus         1
Gorilla                1
Icthyo Sapien          1
Zen-Whoberian          1
Cosmic Entity          1
Kakarantharaian        1
Vampire                1
Bizarro                1
Neyaphem               1
Xenomorph XX121        1
Ungaran                1
Yoda's species         1
Name: Race, dtype: int64
good       311
bad        132
neutral     17
Unknown      3
Name: Alignment, dtype: int64
Black               127
Blond                74
Brown                69
No Hair              52
Red                  41
White                22
Unknown              18
Auburn               13
Green                 6
Strawberry Blond      5
Purple                4
Brown / White         4
Grey                  4
black                 3
blond                 3
Silver                3
Blue                  2
Orange                2
Pink                  1
Gold                  1
Red / White           1
Indigo                1
Red / Orange          1
Red / Grey            1
Brownn                1
Yellow                1
Orange / White        1
Magenta               1
Black / Blue          1
Name: Hair color, dtype: int64
blue                       182
brown                      102
green                       61
red                         38
Unknown                     17
yellow                      13
black                       12
white                       10
grey                         5
hazel                        5
gold                         3
purple                       3
yellow (without irises)      2
amber                        2
violet                       2
white / red                  1
indigo                       1
silver                       1
green / blue                 1
blue / white                 1
yellow / blue                1
Name: Eye color, dtype: int64
Unknown       409
green          15
blue            7
red             7
white           5
grey            4
silver          4
purple          3
gold            2
pink            2
yellow          2
black           1
blue-white      1
orange          1
Name: Skin color, dtype: int64
{'Height': '183.0 cm', 'Weight': '90.0 kg'}     6
{'Height': '183.0 cm', 'Weight': '86.0 kg'}     6
{'Height': '178.0 cm', 'Weight': '79.0 kg'}     6
{'Height': '188.0 cm', 'Weight': '95.0 kg'}     6
{'Height': '180.0 cm', 'Weight': '81.0 kg'}     6
                                               ..
{'Height': '701.0 cm', 'Weight': '4.0 kg'}      1
{'Height': '185.0 cm', 'Weight': '89.0 kg'}     1
{'Height': '259.0 cm', 'Weight': '158.0 kg'}    1
{'Height': '191.0 cm', 'Weight': '65.0 kg'}     1
{'Height': '66.0 cm', 'Weight': '17.0 kg'}      1
Name: Measurements, Length: 287, dtype: int64

In [9]:
#Replace values
df["Hair color"].replace("black","Black", inplace=True)
df["Hair color"].replace("blond","Blond", inplace=True)
df["Hair color"].replace("Brownn","Brown", inplace=True)

In [12]:
#Split measurements
measure = df.loc[0,"Measurements"]
#replace single quotes with double
measure = measure.replace("'",'"')
json.loads(measure)
measure

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [ ]:
#Cleanup column names

In [ ]:
#drop measurements
df = df.drop(columns=['Measurements'])
df.head(2)

In [ ]:
#Check for categorical descrepencies
for col in df1.select_dtypes(include='object').columns:
  print(df1[col].value_counts())

In [ ]:
#onehot encode super powers
X = df1['Powers'].values
enc = OneHotEncoder().fit(X)

X = enc.transform(X)
print(X)

## Combine Data

In [ ]:
#Combine the data sets
df_main = pd.concat([df, df1], axis = 1)
df_main.head()

## Visualise Data

In [ ]:
#Count of movies per certification category
explore_categorical(df,"certification");

In [ ]:
# Use groupby to calculate the average revenue for each classification
df_movie_revenue = df.groupby('certification')['revenue'].mean()

# Plot the average of each as a bar
fig, ax = plt.subplots()
ax.bar(df_movie_revenue.index, df_movie_revenue.values);
for p in ax.patches:
   ax.annotate('{:.0f}'.format(p.get_height()), (p.get_x(), p.get_height()+0.01))
ax.set_ylabel('Revenue')
ax.set_xlabel("Classification");
ax.set_title("Average Revenue per certification", fontweight='bold')
# Fix layout and show plot (before print statements)
fig.tight_layout()

In [ ]:
# Use groupby to calculate the average budget for each classification
df_movie_revenue = df.groupby('certification')['budget'].mean()

# Plot the average of each as a bar
fig, ax = plt.subplots()
ax.bar(df_movie_revenue.index, df_movie_revenue.values);
for p in ax.patches:
   ax.annotate('{:.0f}'.format(p.get_height()), (p.get_x(), p.get_height()+0.01))
ax.set_ylabel('Budget')
ax.set_xlabel("Classification");
ax.set_title("Average budget per certification", fontweight='bold')
# Fix layout and show plot (before print statements)
fig.tight_layout()

## Save Data

In [ ]:
#Write the dataframe to file
FOLDER = "Data/"
df.to_csv(f"{FOLDER}tmdb_results_combined.csv.gz", compression="gzip", index=False)